.root {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #e2e6e6;
	flex-wrap: wrap;
}

.root:nth-last-of-type(2) {
	border: 0;
}
.images {
	margin-right: 10px;
}
.info {
	/* font-size: 0.8rem; */
}

.info .rank {
	color: #30aaf0;
}
.info .type {
	color: #6e7882;
	margin-top: 0;
}
.info .date {
	color: #879196;
	font-size: 0.8rem;
	margin-top: 0;
}
