.root {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 1px solid #e2e6e6;
}

.root:last-child {
	border: 0;
}

.images {
}
.info {
	margin-left: 10px;
}

.info .rank {
	color: #30aaf0;
}
.info .type {
	color: #6e7882;
}
.info .date {
	color: #879196;
}
