.root {
	/* padding: 25px; */
}

/* tabs */
.tabs {
	border-bottom: 2px #e2e6e6 solid;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
}

.tab {
	padding: 10px 0;
	margin-right: 30px;
}

.tab a {
	color: #6e7882;
	text-decoration: none;
	text-transform: uppercase;
}

.active {
	border-bottom: 5px #30aaf0 solid;
}
.active a {
	color: #30aaf0;
}
/* main */
.main {
	display: grid;
	grid-template-areas:
		"job social"
		"job more";
	grid-template-rows: 1fr auto;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}

.job {
	grid-area: job;
}
.social {
	grid-area: social;
}
.more {
	grid-area: more;
}

@media only screen and (max-width: 576px) {
	.tabs {
		flex-direction: column;
		border: 0;
	}
}

@media only screen and (max-width: 768px) {
	.main {
		grid-template-areas:
			"job"
			"social"
			"more";
		grid-template-columns: 1fr;
	}
}
