.header {
	position: relative;
}
.root {
	background: #fefefe;
	height: 80px;
	display: flex;
	padding: 0 25px;
}

/* nav toggle */
.navToggle {
	display: none;
}

.search {
	display: flex;
	flex: 1;
	align-items: center;
}
.nav {
	display: flex;
	flex: 1;
	align-items: center;
}

.nav ul {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-content: center;
}
.nav li {
	display: flex;
	align-items: center;
}

.nav a {
	display: block;
	text-decoration: none;
	color: #879196;
	height: 100%;
	text-align: center;
	padding: 10px;
	height: min-content;
}

.nav .active {
	border-bottom: 5px solid #30aaf0;
}

.nav .active a {
	color: #30aaf0;
}
.actions {
	flex: 1;
	display: flex;
	justify-content: right;
	align-items: center;
}

.icons {
	height: 40px;
	width: 40px;
	cursor: pointer;
	display: grid;
	justify-items: center;
	align-items: center;
	color: #879196;
}

@media only screen and (max-width: 768px) {
	.root {
		flex-direction: column;
		height: max-content;
	}

	.root .search,
	.root .nav,
	.root .actions {
		display: none;
	}
	.root.showNav .search,
	.root.showNav .nav,
	.root.showNav .actions {
		display: flex;
	}
	.nav ul {
		flex-direction: column;
	}
	.nav li {
		justify-content: flex-end;
	}
	.navToggle {
		display: flex;
		height: 50px;
		justify-content: flex-end;
		align-items: center;
	}
}
