.App {
	max-height: 100vh;
	display: flex;
	position: relative;
}
.content {
	background: #eaeef1;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

@media only screen and (max-width: 576px) {
	.App {
		display: block;
		max-height: none;
	}
}

/* color reference only */
.color-reference {
	/* text primary */
	color: #6e7882;
	/* text secondary */
	color: #879196;
	/* line */
	color: #e2e6e6;
	/* main blue */
	color: #2759ad;
	/* hight blue */
	color: #30aaf0;
}
